BODY {
	FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: "Times New Roman",serif; BACKGROUND-COLOR: #ffffff
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #0080c0; FONT-FAMILY: "Times New Roman",serif; BACKGROUND-COLOR: #ffffff
}
A:visited {
	COLOR: #0070a0; FONT-FAMILY: "Times New Roman",serif; BACKGROUND-COLOR: #ffffff
}
A:active {
	COLOR: #0070a0; FONT-FAMILY: "Times New Roman",serif; BACKGROUND-COLOR: #ffffff
}
A:hover {
	TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
UL {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
OL {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
LI {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
DIV {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
TD {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
TH {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
ADDRESS {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
BLOCKQUOTE {
	FONT-SIZE: 12pt; FONT-FAMILY: "Times New Roman",serif
}
H1 {
	FONT-FAMILY: Arial,sans-serif
}
H2 {
	FONT-FAMILY: Arial,sans-serif
}
H3 {
	FONT-FAMILY: Arial,sans-serif
}
H4 {
	FONT-FAMILY: Arial,sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 24pt
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
